{% extends 'base.html' %}

{% block content %}
<h1>{{ advertisement.title }}</h1>

<p>{{ advertisement.content }}</p>

<h3>Автор: {{ advertisement.author.username }}</h3>

<h3>Дата создания: {{ advertisement.created_at }}</h3>

{% if advertisement.image %}
    <img src="{{ advertisement.image.url }}" alt="Объявление">
{% endif %}

<h3>Статистика:</h3>
<ul>
    <li>Создано объявлений: {{ advertisement.get_stats.created_advertisements }}</li>
    <li>Лайков: {{ advertisement.get_stats.total_likes }}</li>
    <li>Дизлайков: {{ advertisement.get_stats.total_dislikes }}</li>
</ul>


<h3>Likes: {{ advertisement.total_likes }}</h3>
<form method="post" action="{% url 'board:like_advertisement' advertisement.pk %}">
    {% csrf_token %}
    <button type="submit">Like</button>
</form>

<h3>Dislikes: {{ advertisement.total_dislikes }}</h3>
<form method="post" action="{% url 'board:dislike_advertisement' advertisement.pk %}">
    {% csrf_token %}
    <button type="submit">Dislike</button>
</form>

<a href="{% url 'board:advertisement_list' %}">Вернуться к списку объявлений</a>
{% endblock %}